@page "/SamplePages/TelerikCustomerList"
<PageTitle>Telerik Customer List</PageTitle>
<h3>Telerik Customer List</h3>

<header>
    <h4>Search</h4>
    <p>
        <TelerikFloatingLabel Text="Last Name">
            <TelerikTextBox Id="lastName" @bind-Value="@lastName" />
        </TelerikFloatingLabel>
    </p>
    <p>
        <TelerikFloatingLabel Text="Phone #">
            <TelerikTextBox Id="phoneNumber" @bind-Value="@phoneNumber" />
        </TelerikFloatingLabel>
    </p>
    <TelerikButton Icon="@FontIcon.Search" OnClick="@Search"
                   ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Search</TelerikButton>
    <TelerikButton Icon="@FontIcon.TableAdd" OnClick="@New"
                   ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">New</TelerikButton>
</header>

<body>
<TelerikLoader Visible="@loaderVisible"
               Size="@ThemeConstants.Loader.Size.Large"
               ThemeColor="@ThemeConstants.Loader.ThemeColor.Tertiary"
               Type="@LoaderType.ConvergingSpinner" />
@if (Customers.Count == 0)
{
    <p><em>Please enter either a last name or phone number</em></p>
}
else
{
    <TelerikGrid Data="@Customers"
                 Pageable="false"
                 Sortable="false"
                 FilterMode="@GridFilterMode.FilterRow">
        <GridColumns>
            <GridColumn Field="FirstName" Title="First Name"/>
            <GridColumn Field="LastName" Title="LastName"/>
            <GridColumn Field="City" Title="City"/>
            <GridColumn Field="Phone" Title="Phone"/>
            <GridColumn Field="Email" Title="Email"/>
            <GridColumn Field="TotalSales" DisplayFormat="{0:C2}"/>
        </GridColumns>
    </TelerikGrid>
}
</body>
<footer>
    @if (hasFeedback)
    {
        <blockquote>@feedbackMessage</blockquote>
    }
    @if (hasError)
    {
        <blockquote>
            @errorMessage
            <ul>
                @foreach (var detail in errorDetails)
                {
                    <li>@detail</li>
                }
            </ul>
        </blockquote>
    }
</footer>